*~
*.log
*.pot
*.pyc
*.pid
*.postqode
node_modules
# package-lock.json
# package.json

# Django
db.sqlite3
/local_settings.py
**/media/*

# Virtual environments
.venv/
venv/
env/
*/myenv/*

# Environment variables
.env
